body{
    background-color: #2A2A2E;
    font-family: Quicksand;
    font-size: medium;
    font-weight: 400;
}

h1, h2{
    color: #883B49;
}

header{
    display: flex;
    color: #883B49;
}

header h1 {
    font-weight: 700;
    font-size: 80px;
    color: #883B49;
}

#header-info{
    display: flex;
    flex-direction: column;
}

a, a:visited {
    text-decoration: none;
    color: #883B49;
}

a:hover{
    text-decoration: underline; 
}

#beeg{
    height: 4px;
    background-color: #883B49;
}

hr{
    color:#883B49;
}

main{
    background-color: white;
    width: 800px;
    margin: auto;
    border: solid 2px black;
    padding: 30px;
}

img{
    height:200px;
    border-radius: 300px;
    margin: 8px;
}

p{
    margin: 0px;
}
