<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Orion's Resume</title>

        <!-- CSS -->
        <link rel="stylesheet" href="styles/stylesheet.css">
        <!-- Favicon -->
        <link rel="icon" href="images/paper_icon.png">
        <!-- Quicksand Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    </head>
    <body>
        <main>
        <div>
            <header>
                <h1>Orion de los Santos</h1>
                <div id="header-info">
                    <p>
                    orionroyrdls-college@outlook.com 
                    <br>
                    Auburn, WA
                    <br>
                    253-545-9398
                    <br>
                    <a href="/contact-me">Contact me!</a>
                    </p>
                    <a href="https://github.com/F00dDemon">GitHub</a>
                    <br>
                    <img src="images/orion.jpg" alt="picture of orion">
                </div>
                
            </header>
        </div>
        <hr id="beeg">
        <div>
            <div id="summary">
                <p>Running Start associate graduate in Data Analytics with hands-on experience in software development, creating a successful collaborative project to
                build a chat-bot. Skilled in Java, front-end web development, and using tools like Microsoft CoPilot.<br>
                Also a current Resident Assistant helping day to day operations of campus housing and supporting residents. Eager to apply my dev knowledge and
                ever-growing people skills in an internship role, with a commitment to continuously learning.</p>
            </div>
            <h2>Education</h2>
            <hr>
            <div id="education">
                    <h3 id="bach-title">Bachelor of Science in IT And Software Development</h3>
                    <h4 id="bach-loc" class="loc">Green River Community College, Auburn, WA | Expected in March 2027</h4>
                    <ul id="bach-list">
                        <li>Starting in the Fall of 2025</li>
                        <li>Expected to Finish in the Spring of 2027</li>
                    </ul>
                    <h3 id="assoc-title">Associate of Applied Science in Data Analytics</h3>
                    <h4 id="assoc-loc" class="loc">Green River College, Auburn, WA | June 2024</h4>
                    <ul id="assoc-list">
                        <li>Relevant Coursework:</li>
                        <li>SDEV 280 - Capstone</li>
                        <li>SDEV 201 - SQL for Data Analytics</li>
                        <li>SDEV 220 - Elementary Data Structures</li>
                        <li>SDEV 219 - Object-Oriented Programming</li>
                        <li>Awards & Honors:</li>
                        <li>Deans List</li>
                        <li>GPA: 3.4</li>
                    </ul>
            </div>
            <h2>Skills</h2>
            <hr>
            <div>
                <ul id="skills">
                    <li>Java</li>
                    <li>Problem-solving</li>
                    <li>Teamwork and Collaboration</li>
                    <li>Friendly, Positive Attitude</li>
                    <li>Data Structures</li>
                    <li>Front-end Web Development</li>
                    <li>Multitasking</li>
                </ul>
            </div>
            <h2>Experience</h2>
            <hr>
            <div id="experience">
                    <h3 id="ra-title">Resident Assistant</h3>
                    <p id="ra-loc">COCM On Campus Managment, Auburn, WA | June 2025 - Current</p>
                    <ul id="ra-list">
                        <li>Supported colleagues and over 200 on-site residents in problems and conflicts.</li>
                        <li>Attended, participated, and contributed to biweekly staff meetings addressing resident needs.</li>
                        <li>Worked with Campus Life and Clubs to host large scale events on-site.</li>
                        <li>Nurtured an inclusive and welcoming environment to both domestic and international students alike.</li>
                        <li>Worked extensively to ensure team deadlines such as move-ins and inspections were completed in high
                        quality.</li>
                    </ul>
            </div>
        </div>   
        </main>
    </body>
</html>