/* Home.html */

body{
    background-color: #2A2A2E;
    font-family: Quicksand;
    font-size: medium;
    font-weight: 400;
}

h1, h2{
    color: #883B49;
}

h2{
    margin: 0px;
}

header{
    display: flex;
    color: #883B49;
}

header h1 {
    font-weight: 700;
    font-size: 80px;
    color: #883B49;
}

#header-info{
    display: flex;
    flex-direction: column;
}

a, a:visited {
    text-decoration: none;
    color: #883B49;
}

a:hover{
    text-decoration: underline; 
}

#beeg{
    height: 4px;
    background-color: #883B49;
}

#summary{
    margin: 10px 0px;
}

hr{
    color:#883B49;
}

main{
    background-color: white;
    width: 800px;
    margin: auto;
    border: solid 2px black;
    padding: 30px;
}

img{
    height:200px;
    border-radius: 300px;
    margin: 8px;
}

p{
    margin: 0px;
}

#education{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto;
    height:400px;
    gap: 0px 0px;
}

#education *{
    margin: 0px;
}

#bach-title{
    grid-column: 1/3;
    grid-row: 1/6;
}

#bach-loc{
    grid-column: 5/13;
    grid-row: 1/2;
}

#bach-list{
    grid-column: 5/13;
    grid-row: 2/3;
}

#assoc-title{
    grid-column: 1/3;
    grid-row: 5/13;
}

#assoc-loc{
    grid-column: 5/13;
    grid-row: 5/6;
}

#assoc-list{
    grid-column: 5/13;
    grid-row: 6/7;
}

.loc{
    height:48px
}

#skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skills li{
    width: 50%;
}

#experience{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto;
    height:200px;
    gap: 0px 0px;
}

#ra-title{
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: 0px;
}

#ra-loc{
    grid-column: 1/4;
    grid-row: 2/13;
}

#ra-list{
    grid-column: 4/13;
    grid-row: 1/13;
}

@media all and (max-width: 600px) {
    *{
        flex-wrap: wrap;
    }
    main{
        width: 100%;
    }
    header{
        flex-direction: column;
    }
    header h1 {
        font-weight: 700;
        font-size: 40px;
        color: #883B49;
    }
    div{
        width: 100%;
    }
    main{
        padding: 0%;
    }
    img{
        width: 75%;
        align-self: center;
    }
    #education{
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }
    #skills li{
        width: 100%;
    }
    #experience{
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    
}

/* Contact.html */

#contact-doc body{
    background-color: white;
}

#form-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}
    
#firstname {
    grid-column: span 2 / span 2;
}

#lastname {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
}

#jobtitle {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
}

#company {
    grid-column: span 2 / span 2;
    grid-row-start: 2;
}

#linkedin {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}

#email {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
}

#howmeet {
    grid-column: span 3 / span 3;
    grid-row-start: 3;
}

#other {
    grid-column: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 3;
    display: none;
}

#message {
    width: 100%;
}

#contact-main{
    border: solid 2px #883B49;
}
#contact-main *{
    margin-top: 10px
}
#contact-main h1{
    text-align: center;
}

#contact-main label{
    font-weight: 500;
    color: black;
}
#contact-main input[type=text]{
    border: solid 1px #883B49;
    width: 100%;
    border-radius: 4px;
    height: 25px;
}
#meetselect, #otherinput {
    width: 100% !important;
    border-radius: 4px;
    border: solid 1px #883B49;
    height: 30px;
}
textarea {
  resize: none;
  width: 100%;
  height: 100px;
}
#contact-submit{
    border: none;
    background-color: #883B49;
    color: white;
    border-radius: 0.25rem;
    padding: .5rem .75rem;
    text-decoration: none;
}
#contact-doc a, footer{
    text-align: center;
    font-weight: 600;
}
.error{

    display: none;
    color:red;

}